html {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  height: 100%;
}

/* H1 with animation */
h1 {
  color: white;
  font-weight: 800;
  font-size: 56px;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

h2 {
  color: white;
  font-weight: 800;
  font-size: 36px;
  margin-top: 68px;
  margin-bottom: 16px;
}

h4 {
  color: #333333;
  font-weight: 800;
  font-size: 28px;
  margin-top: 24px;
  margin-bottom: 16px;
}

h5 {
  color: #3a7bd5;
  font-weight: 600;
  font-size: 20px;
}

h6 {
  color: #a0a0a0;
  font-weight: 600;
  font-size: 14px;
}

p {
  color: #333333;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  margin-top: 24px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #d5d5d5;
  margin: 1em 0;
  padding: 0;
}

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Form and animation */
.container {
  max-width: 840px;
}
.form {
  margin-top: 64px;
  font-weight: 700;
  color: #333;
  background-color: white;
}

.error {
  color: rgb(232, 44, 44);
  font-weight: 400;
  font-size: 14px;
  margin-top: 6px;
}

.button {
  font-weight: 900;
  background: linear-gradient(to right, #781898, #aa2bd5);
  border: none;
}

.button:hover {
  background: linear-gradient(to right, #9a2fbd, #c23bee);
}

footer {
  margin-top: 32px;
}
